Django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
drf-yasg
Pillow
python-decouple
django-filter
google-generativeai
langchain
langchain-google-genai
requests
python-dotenv
gunicorn